body{
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.glow{
    background-color: rgba(161, 161, 161, 0.658);
}

.components{
    padding: 20px;
    line-height: 0;
}
.lower{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.t{
    border: 2px solid ;
    height: 300px;
    width: 240px;
    margin: 10px;
    flex-direction: column;
    line-height: 0.8;
    border-radius: 20px;
    overflow: hidden;
}
.image{
    
    overflow: hidden;
    object-fit: contain;
    min-height: 50%;
    min-width: 20%;
}
.bt1{
    margin: -10px 57px;
background-color: #393b45;
color: white;
padding: 3px 24px;
border: 0;
border-radius: 20px;
}