<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image AI | Home</title>
</head>
<link rel="stylesheet" href="/static/CSS/utility.css">
<link rel="stylesheet" href="/static/CSS/skeleton.css">
<link rel="stylesheet" href="/static/CSS/home.css">
<link rel="stylesheet" href="/static/CSS/faq.css">
<link rel="stylesheet" href="/static/CSS/slider.css">
<link rel="stylesheet" href="/static/CSS/features.css">
<script src="/static/JS/slider.js"></script>

<style>

.bt2{
background-color: #393b45;
color: white;
padding: 3px 24px;
border: 0;
border-radius: 20px;
margin: 20px;
}
.size{
    font-size: 2.5rem;
}


    .last{
      margin-bottom: 200px;
    }

#nav{
  z-index: 100;
}

.tryai{
  border: #393b45;
  border-radius: 20px;
  background-color: #121212;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.sysm{
margin: 20px;
}

.login{
  display: flex;
  margin: auto;
  justify-content: center;
}



</style>
<body class="bg txt-clr">

<h1 class="center">Home</h1>

<div>
  <div class="splitview skewed">
    <div class="panel bottom">
        <div class="content">
            <div class="description">

              <h1>Image Editor</h1>
              <p>Discover the Magic of Image Editing: Elevate Your Visual Creations Today!</p>
                
            </div>

            <img src="/static/IMG/logoai.webp" alt="Original">
        </div>
    </div>

    <div class="panel top">
        <div class="content">
            <div class="description">
              <h1>Image AI</h1>
              <p>Transform Your Images into Masterpieces: Unleash Your Creativity with Our Powerful Editing Tools!</p>
            </div>

            <img src="/static/IMG/cannyai.jpg" alt="Duotone">
        </div>
    </div>

    <div class="handle"></div>
</div>
</div>


<h1 class="center">Login / Signup</h1>

<div>
  <div class="login">
    

      <div class="ag-courses_item">
        <a href="/login" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            <div>
              <img src="/static/svg/components/filter.svg" alt="" width="40px" class="invert">
            </div>
            Login
          </div>
  
          <div class="ag-courses-item_date-box">
            Login to Image Ai to Axcess all the features
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="/signup" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            <div>
              <img src="/static/svg/components/crop.svg" alt="" width="40px" class="invert">
            </div>
            Signup
          </div>
  
          <div class="ag-courses-item_date-box">
            Create an account on Image Ai
          </div>
        </a>
      </div>

    
  </div>
  
  
</div>   

<div class="tryai">
  <div class="ag-courses-item_title">
    <div class="sysm">
      <img src="/static/svg/components/filter.svg" alt="" width="40px" class="invert">
    </div>
    <p class="sysm">Image Generator</p>
    <div class="ag-courses-item_date-box sysm">
      Try Our Image Generation Model
    </div>
  </div>

</div>




<h1 class="center">Our features</h1>

<div>
  <div class="ag-format-container">
    <div class="ag-courses_box">

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            <div>
              <img src="/static/svg/components/filter.svg" alt="" width="40px" class="invert">
            </div>
            Powerful Filters
          </div>
  
          <div class="ag-courses-item_date-box">
            Apply a variety of filters to enhance your images and give them a unique touch with just a click.
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            <div>
              <img src="/static/svg/components/crop.svg" alt="" width="40px" class="invert">
            </div>
            Advanced Editing Tools
          </div>
  
          <div class="ag-courses-item_date-box">
            From cropping and resizing to adjusting brightness, contrast, and saturation, our editing tools provide you with everything you need to perfect your images.
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            <div>
              <img src="/static/svg/components/text.svg" alt="" width="40px" class="invert">
            </div>
            Text and Typography
          </div>
  
          <div class="ag-courses-item_date-box">
            Add text overlays to your images with a wide range of fonts, sizes, and styles to choose from.
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            <div>
              <img src="/static/svg/components/bg.svg" alt="" width="40px" class="invert">
            </div>
            Object Recognition
          </div>
  
          <div class="ag-courses-item_date-box">
            Apply a variety of filters to enhance your images and give them a unique touch with just a click.
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            <div>
              <img src="/static/svg/components/adjust/dark.svg" alt="" width="40px" class="invert">
            </div>
            Save & Export
          </div>
  
          <div class="ag-courses-item_date-box">
            Save edited images in various formats (JPEG, PNG, etc.) and resolutions, and export them to your device or cloud storage.
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            <div>
              <img src="/static/svg/components/ai/detect.svg" alt="" width="40px" class="invert">
            </div>
            Instant Sharing
          </div>
  
          <div class="ag-courses-item_date-box">
            Once you're satisfied with your edits, easily share your images directly to social media platforms or download them in various formats for further use.
          </div>
        </a>
      </div>

    
      
  
    </div>
  </div>
  
  
</div>   





<div class="last">
  <h2 class="h2">Frequently Asked Questions</h2>

<div style="visibility: hidden; position: absolute; width: 0px; height: 0px;">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol viewBox="0 0 24 24" id="expand-more">
      <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
    <symbol viewBox="0 0 24 24" id="close">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/>
    </symbol>
  </svg>
</div>

<details >
  <summary>
    What file formats are supported for image uploads?
    <svg class="control-icon control-icon-expand invert" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close " width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>We support commonly used image formats such as JPEG, PNG</p>
</details>

<details >
  <summary>
    Can I edit images on mobile devices or tablets?
    <svg class="control-icon control-icon-expand invert" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close " width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>Yes, our website is optimized for use on mobile devices and tablets, allowing you to edit images on the go</p>
</details>

<details >
  <summary>
    Is there a limit to the number of edits I can apply to an image?
    <svg class="control-icon control-icon-expand invert" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close " width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>There is no limit to the number of edits you can apply to an image. Edit as much as you need until you achieve your desired result.</p>
</details>

<details >
  <summary>
    Do I need to create an account to use the editing features?
    <svg class="control-icon control-icon-expand invert" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close " width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>No, you can use the basic editing features without creating an account. </p>
</details>

<details >
  <summary>
    How can I save or download my edited images?
    <svg class="control-icon control-icon-expand invert" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close " width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>After completing your edits, you can save or download your images in the desired format (JPEG, PNG, etc.) directly to your device.</p>
</details>

<details >
  <summary>
    Are the editing tools and features easy to use for beginners?
    <svg class="control-icon control-icon-expand invert" width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#expand-more" /></svg>
    <svg class="control-icon control-icon-close " width="24" height="24" role="presentation"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close" /></svg>
  </summary>
  <p>Yes, our website is designed with user-friendliness in mind, making it easy for beginners to navigate and utilize the editing tools.</p>
</details>
</div>

  







</body>


<script>

</script>
</html>